* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
  flex-direction: column;
}
.header h1 {
  text-align: center;
  margin-bottom: 20px;
  color: blue;
}
.header input {
  width: 350px;
  border-radius: 5px;
  height: 30px;
}
.header button {
  width: 40px;
  height: 30px;
  border: none;
  background-color: blue;
  border-radius: 2px;
  cursor: pointer;
}
.header i {
  color: white;
}

.search-div {
  display: flex;
}
.error-div {
  display: none;
  width: 80%;
  height: 30px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #eccbcb;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.error-div p {
  color: white;
}
